body{background-color:yellow}
#container{background-color: pink;margin:20px;padding:0 50px; border:10px dotted blue;background-clip:padding-box;border-radius: 5%;}
button{background-color: lightblue;}